{% extends "base.html" %}
{% block titulo %}Lista de Autores - Book Store{% endblock %}

{% block contenido %}
    <div class="author-list-container">
        <h2>Lista de Autores</h2>
        <div class="author-grid">
            {% for autor in autores %}
                <div class="author-card">
                    {% if autor.foto %}
                        <img src="{{ autor.foto.url }}" alt="{{ autor.nombre }}" class="author-photo">
                    {% endif %}
                    
                    <h3 class="author-name">
                        <a href="{% url 'autor_detail' autor.id %}" class="author-link">
                            {{ autor.nombre }}
                        </a>
                    </h3>

                    <p class="author-country">{{ autor.pais }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
</html>
