{% extends "base.html" %}

{% block titulo %}Detalles del Autor - {{ autor.nombre }}{% endblock %}

{% block contenido %}
    <div class="author-detail-container">
        <div class="author-header">
            <h2>{{ autor.nombre }}</h2>
            {% if autor.foto %}
                <img src="{{ autor.foto.url }}" alt="{{ autor.nombre }}" class="author-photo">
            {% endif %}
        </div>
        
        <div class="author-info">
            <p><strong>País:</strong> {{ autor.pais }}</p>
            <p><strong>Género literario:</strong> {{ autor.genero_literario }}</p>
            
            <h3>Libros publicados:</h3>
            <ul class="book-list">
                {% for libro in autor.libros.all %}
                    <li>
                        <a href="{% url 'libro_detail' libro.id %}">{{ libro.nombre }}</a> - ISBN: {{ libro.isbn }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
</html>
