
{% extends "base.html" %}

{% block titulo %}Lista de Libros - Book Store{% endblock %}

{% block contenido %}
    <div class="book-list-container">
        <h2>Lista de Libros</h2>
        <div class="book-grid">
            {% for libro in libros %}
                <div class="book-card">
                    {% if libro.foto %}
                        <a href="{% url 'libro_detail' libro.id %}" class="book-card-link">
                            <img src="{{ libro.foto.url }}" alt="{{ libro.nombre }}" class="book-image">
                        </a>
                    {% endif %}

                    <h3 class="book-name">
                        <a href="{% url 'libro_detail' libro.id %}" class="book-card-link">
                            {{ libro.nombre }}
                        </a>
                    </h3>

                    <p class="book-isbn">ISBN: {{ libro.isbn }}</p>

                  
                    <ul class="authors-list">
                        {% for autor in libro.autores.all %}
                            <li>
                                <a href="{% url 'autor_detail' autor.id %}" class="author-link">
                                    {{ autor.nombre }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
